package homeview

import(
	"github.com/uszebr/thegamem/view/component/baseview"
)

const (
    title= "Game Theory Home Page"
)
templ Show(){
    @baseview.BaseWithNav(title){
        <h1 class="text-center">Welcome to the Game Theory Simulation</h1>
    }
}
    
   

