.icon-hover {
  /* transition: transform 0.2s ease-in-out; */
  display: block;
  transition: border 0.1s ease-in-out;
}

.icon-hover:hover,
.icon-hover:focus {
  border: 2px solid #999; /* Adjust the color and width of the border as needed */
  outline: none; /* Remove the default focus outline */
 /* transform: scale(1.4);  Increase icon size by 20% on hover/focus */
}

.icon-win-loose {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 16px;
  height: 16px;
}

.badge-my {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  font-size: 10px;
  padding: 1px 1px; 
  border-radius: 2px;
}